

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: spin infinite 20s linear;
  }
} */

*{
   font-size: 1em;
}

h2{
  font-size: 2em;
}

.card {
  padding: 1em;
  font-size: 1.5em;
}

.light-text {
  color: #888;
  font-size: 0.8em;
}
