#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
p{
  margin:0;
}
.card {
  padding: 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.light-text {
  color: rgb(244, 244, 244);
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
}

.photograph {
  background-color: white;
  color:black;
  width: 400px;
  height: 300px;
  padding: 10px; 
  padding-bottom: 20px; 
  animation: spin 2s forwards, fadeOut 3s 8s forwards; 
}

.photograph img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }

.platform-container div{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0.5em; 
  border-radius: 1.5em;
  gap:0.2em;
}

.platform-container strong{
  font-size: 1.7em
}

.platform-container img{ 
  width: 64px;
  height: 64px;
  display:inline;
  vertical-align: bottom;
}
.rounded{ 
  border-radius:50%;
}

.platform-container li {
  list-style:none;
  text-align: left;
  display: flex;
  justify-content:space-between;
  background-color:rgb(102, 102, 102);
  padding: 0.5em ; 
  margin: 0.5em;
  border-radius: 1.5em;
}
